Memberships
* User should see link for basic plan on homepage.
* User should see link for pro plan on homepage.
* Basic plan link should point to regular Devise sign up form.
* Pro plan link should link to a custom sign up form.

Stripe Interrogation
* Users should have a Stripe customer token in the users' db table
* Javascript should prevent Pro form from submitting when user fills it out,
and should send card information to Stripe. Stripe should return with a card
token.
* Javascript should send user fields and card token to our rails app. Rails
app should validate the user fields. Rails app will note if plan is either
plan 1 or plan 2.
* Once validated, rails should send user info (email, plan_id) and card token
to server and Stripe will create a subscription and send back customer token.
Rails should save customer token and user information to our user database.

User Profiles
* Each user should have one profile.
* The user should see a link to new profile form upon signing up.
* The use should be able to create view and their profile.
* User profile should have a profile picture.
* User should be able to view all user profiles.